job('ansible-dsl') {
    description('this is a test dsl for ansible')

    parameters {
        stringParam('Planet',defaultValue = 'world', description = 'planet var')
        choiceParam('AGE',['20','21','22'])
    }

    steps {
        wrappers {
            colorizeOutput(colorMap = 'xterm')
        }

        ansiblePlaybook('/etc/ansible/playbooks/try.yml') {
            inventoryPath('/etc/ansible/hosts')
            colorizeOutput(true)
            additionalParameters('--vault-password-file $HOME/password.txt')
            extraVars {
                extraVar("planet_name",'${Planet}',false)
                extraVar("age",'${AGE}',false)
            }
        }
    }
}